footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 61px;
    line-height: 50px; /* Vertically center the text there */
    background-color: grey;
    color:white;
    text-align: center;
    border-top: 5px solid teal;
  }